.footer {
  background-color: $gray-dark;
  height: 100px;
  padding: 40px;
  a {
    color: white;
    font-size: 25px;
    padding-right: 5px;
    &:hover {
      color: $blue;
      transition: all 300ms ease-in-out;
    }
  }
  .fa:hover {
    transform: scale(1.50);
  }
}

.footer-text-right {
  color: white;

  &:hover {
    color: $blue;
    transition: all 300ms ease-in-out;
  }
}

